<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
<title>Book Tickets Online for Your Favourite  Entertainment & Music Concerts in Bengaluru</title>
<meta name="description" content="Book tickets online for all the happening and upcoming events today, tomorrow and weekend at Events in Bengaluru">
<meta name="keywords" content="Events in Bengaluru, Upcoming Events in Bengaluru, Weekend Events in Bengaluru, Today Events inBengaluru, Live in Music Concerts Bengaluru, Professional & Sports Events in Bengaluru" />
<link rel="stylesheet" href="https://d2tja3vroacx5n.cloudfront.net/css/owl.carousel.css"/>               
<link rel="stylesheet" href="https://d2tja3vroacx5n.cloudfront.net/css/custom/style.css"/>       
<link rel="stylesheet" href="https://d2tja3vroacx5n.cloudfront.net/css/custom/media-custom.css"/>        
<link rel="stylesheet" href="https://d2tja3vroacx5n.cloudfront.net/css/custom/icon-style.css"/>                                   
</head>
<body class="inner-body ">
        <script src="https://d2tja3vroacx5n.cloudfront.net/js/jquery.min.js"></script> 
        <script src="https://d2tja3vroacx5n.cloudfront.net/js/owl.carousel.js"></script>
<header id="header">
    <div class="header-block"> 
        <div class="header">
            <div class="container"> 
                <div class="header-left float-l">
                        <div class="logo-block"><a href="../index1.html"><img src="../assets/logo.jpg" width="100px" height= "45px" alt="Events - Book Tickets Online"/></a></div>
                    <div class="logo-name">EVENTS</div>
                </div>
                <div class="header-right float-r">
                    <ul class="list-unstyle">
                    <li><a href="login.html"><i class="sprite-icon icon-user"></i><span>Sign in</span></a></li>
                                            </ul>    
                    <div class="main-search-grid">
                        <div class="main-search"> <button class="search-btn"></button>
                            <input id="autocomplete" class="search-input" placeholder="Search">
                        </div>
                    </div>          
    </div>
</div>                    <div class=" float-r">
                        <ul class="list-unstyle">
                                                    </ul>
                    </div>
                </div>  
            </div>
        </div>
    </div>
</header>
<section class="container-wrapper">
    <div class="contant-information-block">
        <div class="container">
            <div class="registration-block">
                <p>Already a member with us? <a href="login.html">Sign In</a></p>
            </div>
        </div>
        <div class="container">
            <div class="main-form-block">
                <div class="main-form-block-left login-form-block">
                    <div class="form-block">
                        <div class="form-block-left" style="border-right: none; width: calc(99% - 101px)">
                            <form method="post" accept-charset="utf-8" id="UserLoginForm" action="/users/forgot_password"><div style="display:none;"><input type="hidden" name="_method" value="POST"/><input type="hidden" name="_csrfToken" value="38af31cb489a239e07b77531b5e7d857898bfecdfe9d84fc4cc7b97b28dd7e5d63b8365dbe1d78142a403a4bc31b860b916bd9ce030d43a085eae0a50b80df93"/></div>                                <ul>
                                    <li>
                                        <div class="group">
                                            <input type="email" name="email" class="form-control required" id="email"/>                                            <label>Email Address  <strong  class="required_star" >*</strong></label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="submit-block">
                                            <button type="submit" class="lg-button">Submit</button>                                        </div>
                                    </li>
                                </ul>
                            </form>                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

	<script src="https://d2tja3vroacx5n.cloudfront.net/js/jquery.validate.min.js"></script>
<script>
    $(document).ready(function(){
        $("#UserLoginForm").validate();
    });
</script>
          </body>
</html>