<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
        <title>Book Tickets Online for Your Favourite Sports, Entertainment & Music Concerts in Bengaluru</title>
<meta name="description" content="Book tickets online for all the happening and upcoming events today, tomorrow and weekend at EventsNow in Bengaluru">
<meta name="keywords" content="Events in Bengaluru, Upcoming Events in Bengaluru, Weekend Events in Bengaluru, Today Events inBengaluru, Live in Music Concerts Bengaluru, Professional & Sports Events in Bengaluru" />
        <link rel="stylesheet" href="https://d2tja3vroacx5n.cloudfront.net/css/owl.carousel.css"/>        
        <link rel="stylesheet" href="https://d2tja3vroacx5n.cloudfront.net/css/custom/style.css"/>        
        <link rel="stylesheet" href="https://d2tja3vroacx5n.cloudfront.net/css/custom/media-custom.css"/>     
        <link rel="stylesheet" href="https://d2tja3vroacx5n.cloudfront.net/css/custom/icon-style.css"/>              
          <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MRD9GQL');</script>                    </head>
    <body class="inner-body ">
        <script src="https://d2tja3vroacx5n.cloudfront.net/js/jquery.min.js"></script> 
        <script src="https://d2tja3vroacx5n.cloudfront.net/js/owl.carousel.js"></script>     
<header id="header">
    <div class="header-block"> 
        <div class="header">
            <div class="container"> 
                <div class="header-left float-l">
                    <div class="logo-block"><a href="../index1.html"><img src="../assets/logo.jpg"height="45px" width="100px" alt="Events - Book Tickets Online"/></a></div>
                                <div class="logo-name">EVENTS</div>
                </div>
                <div class="header-right float-r">
                    <ul class="list-unstyle">
                                <li><a href="login.html"><i class="sprite-icon icon-user"></i><span>Sign in</span></a></li>
                                            </ul>    
                    <div class="main-search-grid">
                        <div class="main-search"> <button class="search-btn"></button>
                            <input id="autocomplete" class="search-input" placeholder="Search">
                        </div>
                    </div>
                    <div class="location-block"> 
    <h3 class="location-area selected cityName" title="Choose Location"><a>Bengaluru</a></h3>
    </div>               
                </div>
            </div>
        </div>
    </div>
</header>
<section class="container-wrapper">
    <div class="contant-information-block">
        <div class="container">
            <div class="registration-block">
                <p> Already a member with us? <a href="login.html">Sign In</a></p>
            </div>
        </div>
        <div class="container">
            <div class="main-form-block">
                <div class="main-form-block-left registration-form-block">
                    <div class="registration-form-block-top">
                        <p><a href="/auth/google" class="google-button">Google+</a> We never post on your behalf</p>
                        <div class="or-spacer"><span><i>or</i></span></div>
                    </div>
                    <div class="form-block-one">
                        <form method="post" accept-charset="utf-8" id="UserSignUpForm" action="/users/signup"><div style="display:none;"><input type="hidden" name="_method" value="POST"/><input type="hidden" name="_csrfToken" value="98edb2f1df0ac9d8a4100bf0851fb0d347e6d4f28d519322cc1a2140c59fc6451f7e749dba3691e3576354703d5316703fbabd24384c6407fbc0ac84d9371453"/></div>                        <ul class="form-list-block">
                            <li>
                                <div class="group">
                                    <input type="text" name="username" required="required" id="username"/>                                    <label>Name <strong  class="required_star">*</strong></label>
                                </div>
                            </li>
                            <li>
                                <div class="group">
                                    <input type="email" name="email" required="required" id="email"/>                                    <label>Email Address <strong  class="required_star">*</strong></label>
                                </div>
                            </li>
                            <li>
                                <div class="group">
                                    <input type="password" name="password" required="required" id="password"/>                                    <label>Password <strong  class="required_star">*</strong></label>
                                </div>
                            </li><li>
                                <div class="group">
                                    <input type="password" name="confirm_password" required="required" id="confirm-password"/>                                    <label>Confirm Password <strong  class="required_star">*</strong></label>
                                </div>
                            </li>
                            <li>
                                <div class="group">
                                    <input type="number" name="phone" required="required" id="phone"/>                                    <label>Phone Number <strong  class="required_star">*</strong></label>
                                </div>
                            </li>
                        </ul>
                        <div class="submit-block">
                            <button type="submit" class="lg-button signup_submit">Create Account</button>                        </div>
                        </form>                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src='https://www.google.com/recaptcha/api.js'></script>

	<script src="https://d2tja3vroacx5n.cloudfront.net/js/jquery.validate.min.js"></script>

	<script src="https://d2tja3vroacx5n.cloudfront.net/js/additional-methods.min.js"></script>
<script>
    $(document).ready(function () {
        $(".signup_submit").click(function () {
            var form = $("#UserSignUpForm");
            form.validate({
                rules: {
                    username: {
                        required: true
                    },
                    email: {
                        required: true,
                        email: true
                    },
                    phone: {
                        required: true,
                        digits: true,
                        minlength: 10,
                        maxlength: 10
                    },
                    password: {
                        required: true,
                        minlength: 5,
                        nowhitespace: true
                    },
                    confirm_password: {
                        required: true,
                        minlength: 5,
                        nowhitespace: true,
                        equalTo: "#password"
                    }
                },
                messages: {
                    username: "Please enter your name",
                    password: {
                        required: "Please provide a password",
                        minlength: "Your password must be at least 5 characters long"
                    },
                    confirm_password: {
                        required: "Please provide a password",
                        minlength: "Your password must be at least 5 characters long",
                        equalTo: "Both password & confirm password should match"
                    },
                    email: "Please enter a valid email address",
                    phone: {
                        minlength : "Please enter Min of 10 digits only",
                        maxlength : "Please enter Max of 10 digits only",
                    }
                }
            });
            var isValid = form.valid();
            if (isValid) {
                return true;
            } else {
                return false;
            }
        });
        jQuery.validator.addMethod("email", function(value, element) {
            // allow any non-whitespace characters as the host part
            return this.optional( element ) || /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/.test( value );
        }, 'Please enter a valid email address.');
    });
</script>                   
 </body>
</html>