<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
        <title>Book Tickets Online for Your Favourite Sports, Entertainment & Music Concerts in Bengaluru</title>
<meta name="description" content="Book tickets online for all the happening and upcoming events today, tomorrow and weekend at events in Bengaluru">
<meta name="keywords" content="Events in Bengaluru, Upcoming Events in Bengaluru, Weekend Events in Bengaluru, Today Events inBengaluru, Live in Music Concerts Bengaluru, Professional & Sports Events in Bengaluru" />
        <link rel="stylesheet" href="https://d2tja3vroacx5n.cloudfront.net/css/owl.carousel.css"/>       
        <link rel="stylesheet" href="https://d2tja3vroacx5n.cloudfront.net/css/custom/style.css"/>       
        <link rel="stylesheet" href="https://d2tja3vroacx5n.cloudfront.net/css/custom/media-custom.css"/>       
        <link rel="stylesheet" href="https://d2tja3vroacx5n.cloudfront.net/css/custom/icon-style.css"/>               
         <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MRD9GQL');</script>        <script type="text/javascript">
    var clevertap = {event:[], profile:[], account:[], onUserLogin:[], notifications:[], privacy:[]};
	clevertap.account.push({"id": "694-W9W-R45Z"});
        clevertap.privacy.push({optOut: false});
        clevertap.privacy.push({useIP: false});
	(function () {
            var wzrk = document.createElement('script');
            wzrk.type = 'text/javascript';
            wzrk.async = true;
            wzrk.src = ('https:' == document.location.protocol ? 'https://d2r1yp2w7bby2u.cloudfront.net' : 'http://static.clevertap.com') + '/js/a.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wzrk, s);
  })();
</script>
<script async>(function(s,u,m,o,j,v){j=u.createElement(m);v=u.getElementsByTagName(m)[0];j.async=1;j.src=o;j.dataset.sumoSiteId='b5b0967ee3a370d08d5c9fbde6238d7b74d1d84fe3bb1f96a2fc87a0f2b5349c';v.parentNode.insertBefore(j,v)})(window,document,'script','//load.sumo.com/');</script>            </head>
    <body class="inner-body ">
        <script src="https://d2tja3vroacx5n.cloudfront.net/js/jquery.min.js"></script> 
        <script src="https://d2tja3vroacx5n.cloudfront.net/js/owl.carousel.js"></script>          
<header id="header">
    <div class="header-block"> 
        <div class="header">
            <div class="container"> 
                <div class="header-left float-l">
                    <div class="logo-block"><a href="../index1.html"><img src="../assets/logo.jpg" width="100px" height= "45px" alt="Events - Book Tickets Online"/></a></div>
                <div class="logo-name">EVENTS</div>
                </div>
                <!--create event location-->
                <div class="header-right float-r">
                    <ul class="list-unstyle">
                  <li><a href="login.html"><i class="sprite-icon icon-user"></i><span>Sign in</span></a></li>
                                            </ul>    
                    <div class="main-search-grid">
                        <div class="main-search"> <button class="search-btn"></button>
                            <input id="autocomplete" class="search-input" placeholder="Search">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<link rel="stylesheet" href="https://d2tja3vroacx5n.cloudfront.net/css/jquery-ui.css"/>
<script src="https://d2tja3vroacx5n.cloudfront.net/js/jquery-ui.js"></script>
<script src="https://d2tja3vroacx5n.cloudfront.net/js/jquery.validate.min.js"></script>
<script src="https://d2tja3vroacx5n.cloudfront.net/js/additional-methods.min.js"></script>
<script src="https://d2tja3vroacx5n.cloudfront.net/js/custom/countdown-timer.js"></script>
<span class="settop" style="position:absolute; top:-80px; display:block;"></span>
<section class="container-wrapper">
    <div class="container event-title">
        <h1 title="NYE 2020 at Taj MG Road ft DJ ESSIE DE VAL">NYE 2020 at Taj MG Road ft DJ ESSIE DE VAL</h1>
    </div>
    <div class="contant-information-block">
        <div class="container">
            <div class="main-form-block">
                <div class="main-form-block-left checkout-process">
                    <div class="checkout-process-block">
                        <ul>
                            <li class="step-1 chk-steps active" id="list-1">
    <h2 class="accor-title">
        <span><b>Login / Signup / Quick Checkout</b><i class="icon-login sprite-icon"></i></span>
        <strong class="icon icon--order-success svg"> <svg xmlns="http://www.w3.org/2000/svg" class="circle-svg" viewBox="0 0 80 80" height="30px" style="margin: 10px;">
                <g fill="none" stroke="#8EC343" stroke-width="3">
                    <circle cx="36" cy="36" r="35" style="stroke-dasharray:240px, 240px; stroke-dashoffset: 480px;"></circle>
                    <path d="M17.417,37.778l9.93,9.909l25.444-25.393" style="stroke-dasharray:50px, 50px; stroke-dashoffset: 0px;"></path>
                </g>
            </svg> </strong>
    </h2>
    <div class="accor-cont" style="display:block;">
        <div class="form-block">
            <div class="form-block-left">
                <form method="post" accept-charset="utf-8" name="checkout_login" id="checkout_login" action="/transactions/checkout"><div style="display:none;"><input type="hidden" name="_method" value="POST"/><input type="hidden" name="_csrfToken" value="38af31cb489a239e07b77531b5e7d857898bfecdfe9d84fc4cc7b97b28dd7e5d63b8365dbe1d78142a403a4bc31b860b916bd9ce030d43a085eae0a50b80df93"/></div>                <div class="login-form">
                    <div class="group">
                        <p class="login_error" style="color: red;"></p>
                    </div>
                    <div class="group">
                        <input type="email" name="User[email]" required="required" autocomplete="off" id="user-email"/>                        <label>Email <strong class="required_star">*</strong></label>
                        <p>(Your order details will be sent to this email address)</p>
                    </div>
                    <div class="group">
                        <input type="password" name="User[password]" required="required" autocomplete="off" readonly="readonly" onfocus="this.removeAttribute(readonly);" id="user-password"/>                        <label>Password <strong class="required_star">*</strong></label>
                    </div>
                    <span style="float:right">
                        <a class="blue-grey-text checkoutlink" href="forgotpassword.html" target="_blank">Forgot Password?</a>
                    </span>
                    <div class="submit-block">
                        <button id="list-btn-1" class="login_submit lg-button accor-btn" type="button">Submit</button>                    </div>
                    <span class="checkout-login-label">
                        Don't have an account? <a class="signup-tab checkoutlink">Signup</a> or <a class="quick-checkout-tab checkoutlink">Quick Checkout</a>
                    </span>
                </div>
                </form>                <div class="signup-form">
                    <form method="post" accept-charset="utf-8" name="checkout_signup" id="checkout_signup" action="/transactions/checkout"><div style="display:none;"><input type="hidden" name="_method" value="POST"/><input type="hidden" name="_csrfToken" value="38af31cb489a239e07b77531b5e7d857898bfecdfe9d84fc4cc7b97b28dd7e5d63b8365dbe1d78142a403a4bc31b860b916bd9ce030d43a085eae0a50b80df93"/></div>                    <div class="group">
                        <p class="signup_error" style="color: red;"></p>
                    </div>
                    <div class="group">
                        <input type="text" name="username" required="required" autocomplete="off" id="username"/>                        <label>Name <strong class="required_star">*</strong></label>
                    </div>
                    <div class="group">
                        <input type="email" name="email" required="required" autocomplete="off" id="email"/>                        <label>Email <strong class="required_star">*</strong></label>
                        <p>(Your order details will be sent to this email address)</p>
                    </div>
                    <div class="group">
                        <input type="number" name="phone" required="required" autocomplete="off" id="phone"/>                        <label>Phone (10 Digits Only) <strong class="required_star">*</strong></label>
                    </div>
                    <div class="group">
                        <input type="password" name="password" required="required" autocomplete="new-password" id="password"/>                        <label>Password <strong class="required_star">*</strong></label>
                    </div>
                    <div class="submit-block">
                        <button id="list-btn-21" class="signup_submit lg-button accor-btn" type="button">Submit</button>                    </div>
                    </form>                    <span class="checkout-login-label">
                        Already a member with us? <a class="login-tab checkoutlink">Login</a> or <a class="quick-checkout-tab checkoutlink">Quick Checkout</a>
                    </span>
                </div>
                <div class="quick-checkout-form">
                    <form method="post" accept-charset="utf-8" name="quick_checkout_signup" id="quick_checkout_signup" action="/transactions/checkout"><div style="display:none;"><input type="hidden" name="_method" value="POST"/><input type="hidden" name="_csrfToken" value="38af31cb489a239e07b77531b5e7d857898bfecdfe9d84fc4cc7b97b28dd7e5d63b8365dbe1d78142a403a4bc31b860b916bd9ce030d43a085eae0a50b80df93"/></div>                    <div class="group">
                        <p class="quick_checkout_error" style="color: red;"></p>
                    </div>
                    <div class="group">
                        <input type="text" name="username" id="qc_username" required="required" autocomplete="off"/>                        <label>Name <strong class="required_star">*</strong></label>
                    </div>
                    <div class="group">
                        <input type="email" name="email" id="qc_email" required="required" autocomplete="off"/>                        <label>Email <strong class="required_star">*</strong></label>
                        <p>(Your order details will be sent to this email address)</p>
                    </div>
                    <div class="group">
                        <input type="number" name="phone" id="qc_phone" required="required" autocomplete="off"/>                        <label>Phone (10 Digits Only) <strong class="required_star">*</strong></label>
                    </div>
                    <div class="submit-block">
                        <button id="list-btn-22" class="quick_checkout_submit lg-button accor-btn" type="button">Submit</button>                    </div>
                    </form>                    <span class="checkout-login-label">
                        Already a member with us? <a class="login-tab checkoutlink">Login</a> or Don't have an account? <a class="signup-tab checkoutlink">Signup</a>
                    </span>
                </div>
            </div>
            <div class="form-block-right">
                <div class="or-spacer"> <span><i>or</i></span></div>
                <div class="form-inner-block">
                    <h4>Sign in with</h4>
                    <a href="/auth/google" class="google-button checkoutlink">Google+</a>
                </div>
            </div>
        </div>
    </div>
</li>
<script>
    $(document).ready(function () {
        var flag = 0;
        if (flag) {
            $("#list-1").removeClass("active");
            $("#list-1").children(".accor-cont").slideUp(350);
            $("#list-1").children(".accor-cont").css({
                'opacity': '0'
            });
            $("#list-1 .circle-svg").show();
            $("#list-2").addClass("active");
            $("#list-2").children(".accor-cont").slideDown(350);
            pushToDataLayer('login');
            pushToCleverTap('login');
        }
        $(".login_submit").click(function () {
            if ($('#checkout_login').valid()) {
                $(".icon--order-success").hide();
                submitcheckoutLogin();
            } else {
                $(".icon--order-success").hide();
                return false;
            }
        });
        $(".signup_submit").click(function () {
            dataLayer.push({'event': 'signupbutton-click'});
            var form = $("#checkout_signup");
            form.validate({
                rules: {
                    username: {
                        required: true
                    },
                    email: {
                        required: true,
                        email: true
                    },
                    phone: {
                        required: true,
                        digits: true,
                        minlength: 10,
                        maxlength: 10
                    },
                    password: {
                        required: true,
                        minlength: 5,
                        nowhitespace: true
                    }
                }
            });
            var isValid = form.valid();
            if (isValid) {
                var UserSignupData = $('#checkout_signup').serialize();
                $.ajax({
                    type: "POST",
                    url: "/transactions/checkout_signup",
                    data: UserSignupData,
                    beforeSend: function () {
                        $("#loadingdiv").show();
                    },
                    cache: false,
                    success: function (data) {
                        var dataObj = jQuery.parseJSON(data);
                        if (dataObj.error == 0) {
                            pushToDataLayer('signup');
                            pushToCleverTap('signup');
                            location.reload();
                        } else {
                            $("#loadingdiv").hide();
                            $('#email').val('');
                            $('.signup_error').html(dataObj.message);
                        }
                    }
                });
            } else {
                return false;
            }
        });
        $(".quick_checkout_submit").click(function () {
            var form = $("#quick_checkout_signup");
            form.validate({
                rules: {
                    username: {
                        required: true
                    },
                    email: {
                        required: true,
                        email: true
                    },
                    phone: {
                        required: true,
                        digits: true,
                        minlength: 10,
                        maxlength: 10
                    }
                }
            });
            var isValid = form.valid();
            if (isValid) {
                var UserSignupData = $('#quick_checkout_signup').serialize();
                $.ajax({
                    type: "POST",
                    url: "/transactions/quick_checkout_signup",
                    data: UserSignupData,
                    beforeSend: function () {
                        $("#loadingdiv").show();
                    },
                    cache: false,
                    success: function (data) {
                        var dataObj = jQuery.parseJSON(data);
                        if (dataObj.error == 0) {
                            location.reload();
                        } else {
                            $("#loadingdiv").hide();
                            $('#email').val('');
                            $('.quick_checkout_error').html(dataObj.message);
                        }
                    }
                });
            } else {
                return false;
            }
        });
    });
    function submitcheckoutLogin()
    {
        dataLayer.push({'event': 'loginbutton-click'});
        var UserData = $('#checkout_login').serialize();
        $.ajax({
            type: "POST",
            url: "/transactions/checkout_login",
            data: UserData,
            cache: false,
            beforeSend: function () {
                $("#loadingdiv").show();
            },
            success: function (data) {
                var dataObj = jQuery.parseJSON(data);
                if (dataObj.error == 0) {
                    pushToDataLayer('login');
                    pushToCleverTap('login');
                    location.reload();
                } else {
                    $("#loadingdiv").hide();
                    $(".icon--order-success").hide();
                    $('.login_error').html(dataObj.message);
                }
            }
        });
    }
    function pushToDataLayer(step){
        dataLayer.push({
            'event': 'checkout',
            'ecommerce': {
                'checkout': {
                    'actionField': { 'step': step}
                }
            }
        });
    }
    function pushToCleverTap(actn){
        var tcktype = "paid";
        clevertap.event.push(actn,{
           "Number":1,
           "Ticket Type":tcktype
        });
    }
</script>                                                        <li class="step-2 chk-steps"  id="list-2">
    <h2 class="accor-title"><span><b>Ticket Registration</b><i class="icon-tikreg sprite-icon"></i></span>
        <strong class="icon icon--order-success svg">
            <svg xmlns="http://www.w3.org/2000/svg" class="circle-svg" viewBox="0 0 80 80" height="30px" style="margin: 10px;">
                <g fill="none" stroke="#8EC343" stroke-width="3">
                    <circle cx="36" cy="36" r="35" style="stroke-dasharray:240px, 240px; stroke-dashoffset: 480px;"></circle>
                    <path d="M17.417,37.778l9.93,9.909l25.444-25.393" style="stroke-dasharray:50px, 50px; stroke-dashoffset: 0px;"></path>
                </g>
            </svg>
        </strong>
    </h2>
    <div class="accor-cont">
        <form enctype="multipart/form-data" method="post" accept-charset="utf-8" name="ticket_registrations" id="buyer_details" action="/transactions/checkout"><div style="display:none;"><input type="hidden" name="_method" value="POST"/><input type="hidden" name="_csrfToken" value="38af31cb489a239e07b77531b5e7d857898bfecdfe9d84fc4cc7b97b28dd7e5d63b8365dbe1d78142a403a4bc31b860b916bd9ce030d43a085eae0a50b80df93"/></div><input type="hidden" name="event_id" id="event_id" value="13523"/><input type="hidden" name="event_slug" id="event-slug" value="nye-2020-at-taj-mg-road-ft-dj-essie-de-val"/><input type="hidden" name="zipCodeFlag" id="zipCodeFlag" value="1"/><input type="hidden" name="is_cart_checkout" id="isCartCheckout" value="0"/><input type="hidden" name="organizer_code" id="organizer-code" value=""/><input type="hidden" name="promo_code" id="promo-code" value=""/>
<div class="form-block-one">
    <ul class="attendee-error-info" style="display:none; color: red; font-size: 20px;text-align: center;">

    </ul>
    <ul class="form-list-block">
        <li>
            <div class="group">
                <input type="text" name="data[13523][buyer][name]" id="buyer_name" required="required"/>                <label>Name <strong  class="required_star" >*</strong></label>
            </div>
        </li>
        <li>
            <div class="group">
                <input type="email" name="data[13523][buyer][email]" id="buyer_email" required="required"/>                <label>Email <strong  class="required_star" >*</strong></label>
            </div>
        </li>
        <li class="clear-fix">
            <div class="group" style="width: 46% !important;">
                <input type="number" name="data[13523][buyer][phone]" minlength="10" maxlength="10" id="buyer_phone" required="required"/>                <label>Phone No. <strong  class="required_star" >*</strong></label>
            </div>
        </li>
                <div class="">
            <li>
    <div class="group">
        <input type="text" name="data[13523][buyer][extra_fields][City]" id="buyer_city_0" class="validate[required] required" value=""/>        <label>City  <strong class='required_star'>*</strong></label>
    </div>
</li>        </div>
            </ul>
    </div>
<script src="https://d2tja3vroacx5n.cloudfront.net/js/custom/pincodes.js?v=1"></script><script>
    $(document).ready(function () {
        $('.couriered-block').hide();
        $('.box-office-content').show();
                var eventId = $('#event_id').val();
        var stateOptions = "";
        $('#country_id').on('change', function () {
            var c_id = this.value;
            if (c_id != 110) {
                $('.state_block').html('');
                $('.city_block').html('');
                $('.state_block').html('<input type="text" name="data[' + eventId + '][buyer][state_name]" id="state_id" class="hasdata" required="required"><label>State <strong class="required_star">*</strong></label>');
                $('.city_block').html('<input type="text" name="data[' + eventId + '][buyer][city_name]" id="city_id" class="hasdata" required="required"><label>City <strong class="required_star">*</strong></label>');
            } else {
                $('.state_block').html('');
                $('.city_block').html('');
                $('.state_block').html('<select name="data[' + eventId + '][buyer][state_id]" id="state_id" class="hasdata" onchange="getCitiesList(this)" required="required"><option value="">Select State</option>' + stateOptions + '</select><div class="select-arrow"></div><label>State <strong class="required_star">*</strong></label>');
                $('.city_block').html('<select name="data[' + eventId + '][buyer][city_id]" id="city_id" class="hasdata" required="required"><option value="">Select City</option></select><div class="select-arrow"></div><label>City <strong class="required_star">*</strong></label>');
            }
        });
        $(".radioBtn").click(function() {
            $(".radioBtn").removeClass("bg-radio");
            $(this).addClass("bg-radio");
        });
        
        $('#data-' + eventId + '-buyer-tickets-collect-type-box_office').click(function () {
            $('#checkzipcode').val('');
            $('#zipCodeFlag').val(1);
            $('.zipcode').hide();
            $('.couriered-block').hide();
            $('.courier-form-block').hide();
            $('.courier_charges').hide();
            $('.box-office-content').show();
            $('.order-total span').html('&#8377 '+grandTotal.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,"));
        });
        $('#data-' + eventId + '-buyer-tickets-collect-type-courier').click(function () {
            $('#zipCodeFlag').val(0);
            $('.zipcode').show();
            $('.couriered-block').show();
            $('.courier_charges').show();
            var total = grandTotal+courierCharge;
            $('.order-total span').html('&#8377 '+total.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,"));
            $('.box-office-content').hide();
        });
         //setup before functions
        var typingTimer;                //timer identifier
        var doneTypingInterval = 500;  //time in ms

         //on keyup, start the countdown
        $('.checkZipCode').keyup(function(){
            clearTimeout(typingTimer);
            if ($('.checkZipCode').val().length == 6) {
                typingTimer = setTimeout(doneTyping, doneTypingInterval);
            }
        });

        //user is "finished typing," do something
        function doneTyping () {
            var zipcode = parseInt($('.checkZipCode').val(), 10);
            if ($.inArray(zipcode, pincode) !== -1) {
                //alert('Please Fill the Shipping address');
                $('.checkZipCode').addClass('zipcodechecked');
                $('#courier_zip').val(zipcode).addClass('hasdata');
                $('.courier-form-block').show();
                $('.clearzip').show();
                $('#courierpincode').val(zipcode);
                $('#zipCodeFlag').val(1);
            } else {
                $('.courier-form-block').hide();
                alert('Delivery Service is currently not availble for this Pin Code, Please try another Pin Code or Choose Pickup at Box office');
                $('#checkzipcode').val('');
                $('#zipCodeFlag').val(0);
            }
        }

        
        $(".clearzip").click(function(){
            $('.checkZipCode').removeClass('zipcodechecked');
            $('.clearzip').hide();
            $('#courier_zip').val('');
            $('.courier-details').hide();
            $('.checkZipCode').val('');
        });
    });
    function getCitiesList(obj) {
        var eventId = $('#event_id').val();
        $.ajax({
            type: "POST",
            url: "/transactions/getCities",
            data: {'stateId': obj.value, 'eventId': eventId},
            beforeSend: function () {
                $("#loadingdiv").show();
            },
            cache: false,
            success: function (cities) {
                $("#loadingdiv").hide();
                $('.city_block').html('');
                $('.city_block').html(cities);
            }
        });
    }
</script><input type="hidden" name="data[13523][attendee][31353][0]" id="data-13523-attendee-31353-0"/></form><div class="submit-block">
    <button type="button" value="" id="list-btn-2" class="lg-button accor-btn buyer_form_submit">Proceed to payment</button>
</div>    </div>
</li>
<script>
    var storedFiles = [];
    function uploadFile(dis, ticketId, attendeeNumber, label) {
        if (typeof (FileReader) != "undefined") {
            var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.jpg|.jpeg|.gif|.png|.bmp)$/;
            for (var i = 0; i < dis.files.length; i++) {
                var file = dis.files[i];
                if (regex.test(file.name.toLowerCase()) && (file.size/1024/1024 < 2)) {
                    var reader = new FileReader();
                    if (typeof ((storedFiles[ticketId])) === 'undefined') {
                        storedFiles[ticketId] = [];
                    }
                    if (typeof ((storedFiles[ticketId][attendeeNumber])) === 'undefined') {
                        storedFiles[ticketId][attendeeNumber] = [];
                    }
                    storedFiles[ticketId][attendeeNumber][label] = file;
                } else {
                    $(dis).val('');
                    return false;
                }
            }
        } else {
            alert("This browser does not support HTML5 FileReader.");
        }
    }
    jQuery.validator.addMethod("email", function (value, element) {
        // allow any non-whitespace characters as the host part
        return this.optional(element) || /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/.test(value);
    }, 'Please enter a valid email address.');
    $(document).ready(function () {
        var EventId = $('#event_id').val();
        $("#loadingdiv").hide();
        $(".attendee_form_submit").click(function () {
            dataLayer.push({'event': 'Proceedtopayment-click'});
            //$('.attendee_form_submit').attr('disabled', 'disabled');
            if ($('#attendee_details').valid()) {
            } else {
                $('html,body').animate({scrollTop: $($("span.error:visible")[0]).offset().top - 200}, 1000);
                return false;
            }
            var form_data = new FormData();
            var other_data = $('#attendee_details').serializeArray();
            $.each(other_data, function (key, input) {
                form_data.append(input.name, input.value);
            });
            var file_data = storedFiles; // for multiple files
            $.each(file_data, function (key, val) {
                if (typeof (val) != 'undefined') {
                    $.each(val, function (key1, val1) {
                        var labels = Object.keys(val1);
                        $.each(labels, function (key2, val2) {
                            form_data.append("data[" + EventId + "][attendee][" + key + "][" + key1 + "][" + val2 + "]", val1[val2]);
                        });
                    });
                }
            });
            $.ajax({
                type: "POST",
                url: "/transactions/add_attendee_details",
                data: form_data,
                contentType: false,
                processData: false,
                beforeSend: function () {
                    $("#loadingdiv").show();
                },
                success: function (data) {
                    $("#loadingdiv").hide();
                    var AttendeeObj = JSON.parse(data);
                    if (AttendeeObj.error == 1) {
                        alert(AttendeeObj.msg);
                        $('.attendee_form_submit').removeAttr('disabled');
                        $('.attendee-error-info').show();
                        $('.attendee-error-info').html(AttendeeObj.msg);
                    } else {
                        pushToTicketRegistrationDataLayer('ticketregistrations');
                        $("#list-2").removeClass("active");
                        $("#list-2").children(".accor-cont").slideUp(350);
                        $("#list-2").children(".accor-cont").css({
                            'opacity': '0'
                        });
                        $("#list-2 .circle-svg").show();
                        $("#list-3").addClass("active");
                        $(".payments_block").html(AttendeeObj.payment_data);
                        $("#list-3").children(".accor-cont").slideDown(350);
                    }
                },
                error: function () {// will fire when timeout is reached
                    $('.response_msg').html('<strong>Server is Busy. Please try again</strong>');
                    location.reload(true);
                },
                timeout: 60000 // sets timeout to 60 seconds
            });
        });
        $(".buyer_form_submit").click(function () {
            dataLayer.push({'event': 'Proceedtopayment-click'});
            var zipCodeFlag = $('#zipCodeFlag').val();
            if (zipCodeFlag == 1) {
                if ($('#buyer_details').valid()) {
                    $('.buyer_form_submit').attr('disabled', 'disabled');
                    var buyer_form_data = new FormData();
                    var BuyerData = $('#buyer_details').serializeArray();
                    $.each(BuyerData, function (key, input) {
                        buyer_form_data.append(input.name, input.value);
                    });
                    var file_data = storedFiles; // for multiple files
                    $.each(file_data, function (key, val) {
                        if (typeof (val) != 'undefined') {
                            $.each(val, function (key1, val1) {
                                var labels = Object.keys(val1);
                                $.each(labels, function (key2, val2) {
                                    buyer_form_data.append("data[" + EventId + "][buyer][extra_fields][" + val2 + "]", val1[val2]);
                                });
                            });
                        }
                    });
                    $.ajax({
                        type: "POST",
                        url: "/transactions/add_attendee_details",
                        data: buyer_form_data,
                        contentType: false,
                        processData: false,
                        beforeSend: function () {
                            $("#loadingdiv").show();
                        },
                        success: function (data) {
                            $("#loadingdiv").hide();
                            var AttendeeObj = JSON.parse(data);
                            if (AttendeeObj.error == 1) {
                                alert(AttendeeObj.msg);
                                $('.buyer_form_submit').removeAttr('disabled');
                            } else {
                                pushToTicketRegistrationDataLayer('ticketregistrations');
                                $("#list-2").removeClass("active");
                                $("#list-2").children(".accor-cont").slideUp(350);
                                $("#list-2").children(".accor-cont").css({
                                    'opacity': '0'
                                });
                                $("#list-2 .circle-svg").show();
                                $("#list-3").addClass("active");
                                $(".payments_block").html(AttendeeObj.payment_data);
                                $("#list-3").children(".accor-cont").slideDown(350);
                            }
                            $('.buyer_form_submit').removeAttr('disabled'); //enable submit button if fails.
                        },
                        error: function () {// will fire when timeout is reached
                            $('.response_msg').html('<strong>Server is Busy. Please try again</strong>');
                            location.reload(true);
                        },
                        timeout: 60000 // sets timeout to 60 seconds
                    });
                } else {
                    $('html,body').animate({scrollTop: $($("span.error:visible")[0]).offset().top - 200}, 1000);
                    return false;
                }
            } else {
                alert('Please enter delivery address');
                return false;
            }


        });
    });
    //add step to data layer
    function pushToTicketRegistrationDataLayer(step) {
        dataLayer.push({
            'event': 'checkout',
            'ecommerce': {
                'checkout': {
                    'actionField': {'step': step}
                }
            }
        });
    }
</script>                            <div class="payments_block"></div>
                                                    </ul>
                    </div>
                </div>
                                <div class="main-form-block-right">
        <h2>Order Summary</h2>
            <ul>
        <li><strong>No of Tickets : </strong></li>
                        <li><strong>Date & Time</strong>
            <p>31st Dec 2019 - 1st Jan 2020</p>
            <p>08:00 PM - 01:00 AM</p>
        </li>
        <li class="venue-list"><strong>Venue</strong>
                        <p>Taj MG Road, Bengaluru, Mahatma Gandhi Road, Sivanchetti Gardens, Yellappa Chetty Layout<br>Bengaluru, Karnataka, 560001</p>
            <a class="checkoutlink" href='https://maps.google.com?q=Taj MG Road, Bengaluru, Mahatma Gandhi Road, Sivanchetti Gardens, Yellappa Chetty Layout,Bengaluru, Karnataka, 560001' target='_blank'><i class="sprite-icon location-icon"></i>View Map</a> </li>
                        <li><strong>Base Price </strong> <span></span> </li>
                                    <li class="tax"> <strong>Service Charge</strong> <span></span> </li>
                            <li class="tax"> <strong>Gateway Charges</strong> <span></span> </li>
                            <li><strong>Ticket Price </strong> <span></span> </li>
                <li class="order-total"> <strong>Total</strong> <span></span> </li>
    </ul>
    </div>
<!-- GTM BLOCK-->
<!--<script type="text/javascript" src="https://100009239.collect.igodigital.com/collect.js"></script>
<script type="text/javascript">
_etmc.push(["setOrgId", "100009239"]);
_etmc.push(["trackPageView"]);
</script>--><noscript>
    <!---<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MRD9GQL" height="0" width="0" style="display:none;visibility:hidden"></iframe>--->
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NZKF4FQ" height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>

<script>
    dataLayer.push({
      'event': 'addToCart',
      'ecommerce': {
        'currencyCode': 'INR',
        'add': {                                
          'products': [{                      
            'name': 'NYE 2020 at Taj MG Road ft DJ ESSIE DE VAL',
            'id': '13523',
            'price': 3666.000,
            'brand': 'Evnetsnow',
            'quantity': 0,
            'promotionDiscount' : 0 
           }]
        }
      }
    });
</script><script>
    var grandTotal = total;
    var courierCharge = 0.00;
</script>
            </div>
        </div>
    </div>
    <div id="loadingdiv" class="loading-msg" >
    <div class="loading-msg-inner">
        <div class="response_msg">Please Wait</div>
        <div style='text-align:center ;margin-top:15px;'>
            <img src="https://d2tja3vroacx5n.cloudfront.net/img/svgs/three-dots.svg" alt="Please Wait.." title="Please Wait.."/>        </div>
    </div>
</div></section>
<div class="overly"></div>
<div class="overly-one"></div>
<div class="alert-popup cancel-transaction-popup">
    <h2>Alert!!!</h2>
    <h6>Are you sure you want to cancel the transaction?</h6>
    <p class="aligncenter"><a href="javascript:void()" class="cancel-cart-ok">Ok</a><a class="ash cancel-cart-cancel" href="javascript:void()" class="">Cancel</a></p>
</div>
<script src="https://checkout.stripe.com/checkout.js"></script>
<script type="text/javascript" src="https://www.paynimo.com/Paynimocheckout/server/lib/checkout.js"></script>
<!--<script type="text/javascript" src="https://100009239.collect.igodigital.com/collect.js"></script>
<script type="text/javascript">
_etmc.push(["setOrgId", "100009239"]);
_etmc.push(["trackPageView"]);
</script>--><noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MRD9GQL" height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<script>
    var eventId = 13523;
    $(document).ready(function () {
        $('a').bind('click', function (e) {
            if ($(this).hasClass('checkoutlink') || $(this).hasClass('cancel-cart-ok') || $(this).hasClass('cancel-cart-cancel')) {
                return true;
            } else {
                e.preventDefault();
                $(".cancel-transaction-popup").addClass("slidedown");
                $("body").addClass("noscroll");
                $("#header, .container-wrapper, .footer-wrapper, .bottom-content").addClass("blus-cont");
                return false;
                $('.cancel-cart-cancel').click(function (){
                    $(".cancel-transaction-popup").removeClass("slidedown");
                    $("body").removeClass("noscroll");
                    $("#header, .container-wrapper, .footer-wrapper, .bottom-content").removeClass("blus-cont");
                    return false;
                });
                $('.cancel-cart-ok').click(function (){
                    location.href = this.href;
                    return true;
                });
            }
        });
        $(".charges-list").hide();
        $(".service-charges").click(function () {
            $(this).next(".charges-list").slideToggle();
            $(this).toggleClass("minus");
        });
        $(".courier-charges").click(function () {
            $(this).next(".charges-list").slideToggle();
            $(this).toggleClass("minus");
        });
        /*Close Button event to hide your loader*/
        $(document).off('click','.popup-close').on('click', '.popup-close', function(){
            $('.loading-msg').hide();
        });
            });
    $('#user-email, #user-password').keyup(function (e) {
        if (e.keyCode == 13 && $("#checkout_login").valid()) {
            submitcheckoutLogin();
        }
    });
//    $(".checkoutlink").click(function(){
//        $(".cancel-transaction-popup").addClass("slidedown");
//        $("body").addClass("noscroll");
//        $("#header, .container-wrapper, .footer-wrapper, .bottom-content").addClass("blus-cont");
//        return false;
//    });
    $('.cancel-cart-cancel').click(function(){
        $(".cancel-transaction-popup").removeClass("slidedown");
        $("body").removeClass("noscroll");
        $("#header, .container-wrapper, .footer-wrapper, .bottom-content").removeClass("blus-cont");
    });
    $('.cancel-cart-ok').click(function(){
        cancelTransaction();
    });
    function cancelTransaction()
    {
        $.ajax({
            type: "POST",
            url: "/transactions/canceltransaction",
            data: {'ticket_id': '', quantity: '', 'eventId': eventId, 'seat_info': ''},
            beforeSend: function () {
                $("#loadingdiv").show();
            },
            cache: false,
            success: function () {
                location.href = "../index1.html";
            },
            error: function () {
                location.href = "../index1.html";
            }
        });
    }
</script>
   </body>
</html>
